@import '@unocss/reset/tailwind.css';
@unocss all;
@import '../assets/style/markdown.css';

:root {
  --layout-max-width: 1440px;
  --sidebar-width: 272px;
  --text-color: rgba(60, 60, 67);
  --border-color: #e2e2e3;

  color: var(--text-color);

  font-family: Merriweather, Georgia, serif;
}

* {
  transition: all 0.3s ease;
}

.article-list-item:hover .list-img-shadow {
  box-shadow:
    rgba(0, 0, 0, 0.27) 0px 50px 80px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 50px -30px !important;
}

.list-item-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px;
}

.list-img-shadow {
  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  @media (min-width: 540px) {
    box-shadow:
      rgba(0, 0, 0, 0.3) 0px 30px 60px -10px,
      rgba(0, 0, 0, 0.33) 0px 18px 36px -18px;

    img {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.bottom-shadow {
  background: linear-gradient(180deg, rgba(217, 219, 224, 0) 0%, #d9dbe0 100%);
}

.dark .bottom-shadow {
  background: linear-gradient(180deg, #111216 0%, rgba(66, 81, 98, 0.36) 100%);
}

.article-cover-img {
  img {
    position: relative !important;
  }
}
