---
import { SITE_TITLE } from '../consts'
import { Icon } from 'astro-icon/components'

import ThemeToggle from './ThemeToggle.astro'
---

<header
  class="bg-white/75 dark:bg-gray-950/75 backdrop-blur border-b border-gray-200 dark:border-gray-800 -mb-px sticky top-0 z-50 lg:mb-0 lg:border-0 mr-[calc(100vw-100%)] text-2xl dark:text-gray-300"
>
  <div
    class="mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl flex items-center justify-between gap-3 h-[var(--header-height)]"
  >
    <div class="flex flex-1 items-center gap-x-20">
      <a
        href="/"
        class="flex items-center gap-x-[10px]"
        active-class="text-black dark:text-white"
      >
        <Icon
          name="logo"
          class="text-green-500 text-3xl"
        />
        <span class="text-8 font-bold">{SITE_TITLE}</span>
      </a>
    </div>
    <div class="flex flex-1 justify-end items-center gap-x-4">
      <a
        href="https://github.com/waj1994/blogs"
        target="_blank"
        class="flex items-center"
      >
        <Icon name="github" />
      </a>
      <a
        href="mailto:waj2024@126.com"
        class="flex items-center"
      >
        <Icon name="email" />
      </a>
      <ThemeToggle />
      <a
        href="javascript:void(0)"
        class="lg:hidden flex items-center"
      >
        <Icon
          id="menu-open"
          name="menu"
        />
        <Icon
          id="menu-close"
          name="close"
          class="hidden"
        />
      </a>
    </div>
  </div>
</header>

<script type="module">
  const menuOpenBtn = document.querySelector('#menu-open')
  const menuCloseBtn = document.querySelector('#menu-close')
  const menuContainer = document.querySelector('#mobile-nav')

  menuOpenBtn.addEventListener('click', () => {
    menuOpenBtn.classList.add('hidden')
    menuCloseBtn.classList.remove('hidden')
    menuContainer.classList.add('!w-full')
    document.documentElement.classList.add('overflow-hidden')
  })

  menuCloseBtn.addEventListener('click', () => {
    menuOpenBtn.classList.remove('hidden')
    menuCloseBtn.classList.add('hidden')
    menuContainer.classList.remove('!w-full')
    document.documentElement.classList.remove('overflow-hidden')
  })
</script>
